@import url('https://fonts.googleapis.com/css?family=Syncopate:700');
@import url("https://use.typekit.net/jie2vpq.css");

$bg-logo:#002B45;
$subline-logo:#F6A502;
$white:#fff;




*{
padding: 0;
margin:0;
    }

.wrapper{
    border:1px solid #fff;
}
.wrapper_fit{
    width: 100%;
    margin: auto;
    background-color: $bg-logo;
    position: sticky;
    top: 0;
}
.logo_fit{
    // max-width:1100px;
    width: 100%;
    margin: auto;
    min-height: 100px;
}
.logo{
    position: relative;
    text-align: center;
    font-size:45px;
    font-family: oswald,
    sans-serif;
    font-weight: 900;
    font-style: normal;
    color:$white;
    text-shadow: 0 0 5px $white;
    transition: all 0.6s;
}

.subtitle {
    position: relative;
    text-align: center;
    color: $subline-logo;
    font-size: 18px;
    text-shadow: none;
    font-family: oswald,
        sans-serif;
    font-weight: 500;
    word-spacing: 6px;
    letter-spacing: 5.5px;
    margin-bottom:500px; 
    text-shadow:  0 0 5px $subline-logo;
}
// .subtitle::before {
//     content: '';
//     position: absolute;
//     top:4px;
//     left:50vh;
//     background-color: $subline-logo;
//     width: 50px;
//     height: 3px;
//     border-radius: 25px;

// }
// .subtitle::after {
//     content: '';
//     position: absolute;
//     top:13px;
//     left:50vh;
//     background-color: $subline-logo;
//     width: 50px;
//     height: 3px;
//     border-radius: 25px;
// }