$bg-color: #6a6a6bc5;
$f-color:#c4b3b3;
$br-color:#ec993af8;

* {
    margin: 0;
    padding: 0;
}
body{
    background-color:$bg-color; 
    
}

#img{
    margin: 0 30px;
}

.image-css{
        padding: 5px;
        margin:0 8px;
        background-color:$br-color;
        border-radius:5px;
        height:40vh;
    }
.image-css:nth-child(1){
        padding: 10px;
        margin:0 8px;
        background-color:$br-color;
        border-radius:5px;
    }

    .main-srch{
        display: flex;
        margin: auto;
        justify-content: center;
        margin: 20px;
    }

    #search{
        width:50vh;
        height: 5vh;
        border:1.5px solid #ffffff;
        border-right:none;
        padding-left: 10px; 
        background-color:transparent;
        color:#fff;
        outline: none;
        font-size: medium;
        border-radius: 25px 0 0 25px;


    }
    #srch-btn{
        margin-left: px;
        border:1.5px solid #ffffff;
        border-left:none;
        width:10vh;
        height: 5vh;
        font-size: medium;
        border-radius: 0 25px 25px 0;
        outline: none;
        transition:all 0.6s ease-in-out;
        cursor: pointer;
    }
    $f-color:#fff;
    #srch-btn:hover{
        color:$f-color;
        background-color:#323232;

        
    }
